/*    
	Name: Harold Prentiss	  
 	Course:	443
 	Assignment: #2
*/

body
{
	background-color: #076324;
	overflow-x: hidden;
}

@font-face
{
	font-family: Digital;
	src: url(Fonts/DS-DIGIB.ttf);
}

.banner
{
	
}

.playerTag
{
	position: absolute;
	bottom: 10px;
	left: 45%;
	margin: 0px auto;
	display: inline-block;
	font-size: 14pt;
	color: black;
}

.bankTag
{
	position: absolute;
	bottom: 10px;
	left: 55%;
	margin: 0px auto;
	display: inline-block;
	font-size: 14pt;
	color: black;
}

#playArea
{
	width: 100%;
	margin: 0px;
	padding: 10px;
}

#computerArea
{
	width: 95%;
	position: absolute;
	top: 20%;
	left: 30%;
	margin: 0px auto;
	clear: both;
}

#messageArea
{
	width: 95%;
	position: absolute;
	top: 35%;
	left: 0;
	margin: 0px auto;
	clear: both;
}

#messageText
{
	font-size: 16pt;
	color: black;
	text-align: center;
}

#playerArea
{
	width: 95%;
	position: absolute;
	bottom: 20%;
	left: 30%;
	margin: 0px auto;
	clear: both;
}

#controls
{
	position: absolute;
	bottom: 50px;
	left: 42%;
	margin: 0px auto;
	visibility: hidden;
}

#dealBtn
{
	position: absolute;
	bottom: 50px;
	left: 42%;
	margin: 0px auto;
	visibility: hidden;
}

.controls
{
	font-size: 18pt;
	color: white;
	border: 3px solid #42B867;
	border-radius: 2px;
	font-family: Digital;
	color: #DFDFDF;
	padding: 10px;
	background-color: #42B867;
}

.controls:hover
{
	color: #202020;
}

.betBox
{
	min-width: 50px;
	width: 75px;
	text-align: right;
}

.cardArea
{
	width: 90px;
	height: 108px;
	float:left;
	margin: 0px 5px;
	border: 2px solid white;
	border-radius: 5px;
	vertical-align: center;
	position: relative;
}

.cardArea img 
{
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}